@import url('https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display+SC');

body {
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}

#quiz-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    text-align: left;
    margin-left: 100px;
    margin-top: 30px;
}

#question {
    font-family: Arial, sans-serif;
    font-size: 20px;
    margin-bottom: 15px;
}

#ansButton {
    padding: 3px;
    background-color: gray;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    margin-left: 10px;
    font-size: 15px;
}

#ansButton:hover {
    background-color: darkgray;
}

#answer {
    font-family: Arial, sans-serif;
    font-size: 18px;
    margin-bottom: 20px;
}